.sidenav-container {
  height: 100%;
  opacity: 1;

}

.sidenav {
  width: 250px;
  background-color:   #23C12A;
;
}

.sidenav .mat-toolbar {

  background-color: yellow;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #23C12A;
 

}
@media (max-width: 768px){
	.mat-tab-group.mat-accent{
		display: none;
	}
	.spacer{
	flex: none;

  }

}


.spacer{
	flex: 1 1 auto;

}
.example-tab-icon {
  margin-right: 1px;
  opacity:1;
  width: auto;

}

.mat-tab-group.mat-accent{
	
	width: 85%;
}




/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v54/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings:'liga';
  -webkit-font-smoothing: antialiased;
}