.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.hidden{
	display: none;
}
.spacer{
	align-content:1;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar a{
	
	margin: 0 10 px;
	color:white;
	text-decoration: none; 
}

.example-tab-icon {
  margin-right: 8px;
}
