<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Se connecter </h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="signinForm.invalid">connecter</button>

 
    
 
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
     <h1>  Vous pouvez utiliser egalment vos comptes si dessous</h1>

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <form >
    <div id="firebaseui-auth-container"></div>
    <div id="loader"  >Loading...</div>
    </form>

   </div>
   


</div>

